#container{
    width: 600px;
    border: 1px dotted black;
    margin: 0 auto;/* top right bottom left */
}
p{
    line-height: 5;
    font-size: 0.9em;
}
.accent{
    background-color: black;
    color: white;
    /* text-align: center; */
    padding: 5px;
}
.bluetext{
    color: #0000ff;
}
.browntext{
    color: brown;
}
.boldtext{
    font-weight: bold;
}