ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
    padding: 10px;
    background-color: #eee;
    position: relative;
}
.close{
    /* X의 위치 조정 */
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
}
.close:hover{
    background-color: aquamarine;
}